flake8==3.8.3
numpy==1.19.2
pytest==6.0.2
alembic==1.7.4
requests==2.26.0
mysql-connector-python==8.0.27
hydra-core==1.0.4
plotly==4.10.0
kaleido==0.2.1
black==22.1.0
isort==5.10.1
python-dotenv==0.19.2
